# ===== ANDROID =====
androidRemoteApp/.gradle/
androidRemoteApp/build/
androidRemoteApp/local.properties

# Android Studio project files
androidRemoteApp/.idea/
*.iml

# ===== PYTHON =====
pythonRemoteApp/__pycache__/
pythonRemoteApp/*.py[cod]
pythonRemoteApp/.venv/
pythonRemoteApp/venv/
pythonRemoteApp/.idea/

# ===== OS FILES =====
.DS_Store
Thumbs.db

